<%= form_for @test_type, :html => {:class => 'form', :id => 'new-protocol'} do |f| %>
  <h1><%= @heading %></h1>

  <div class="field">
    <%= f.text_field :test_type, autofocus: true, placeholder: 'name'%>
  </div>

  <div class="actions">
    <%= f.submit @submit_text, class: 'button' %>
  </div>

<% end %>