html = 
<%= form_for @type, :html => {:class => 'form', :id => 'new-protocol'} do |f| %>
  <h1>Create New Test Type</h1>

  <div class="field">
    <%= f.text_field :name, autofocus: true, placeholder: 'name'%>
  </div>

  <div class="actions">
    <%= f.submit "Submit", class: 'button' %>
  </div>

<% end %>