.form {
  z-index: 1;
  margin: 0 auto;
  background: #FFFFFF;
  // max-width: 450px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);

  h3 {
    margin-bottom: 2rem;
    font-weight: bold;
  }

  label {
    text-align: left;
    font-size: 14px;
    text-transform: uppercase;
  }

  .form-control {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 7px;
    margin: 0 0 15px;
    font-size: 14px;
  }

  a {
    font-size: 12px;
    color: #42b6f4;
    text-decoration: none;
  }

  .button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #42b6f4;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;

    &:hover, &:active, &:focus {
      background: #43A047;
    }
  }

  .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
}

.form #user_remember_me{
  display: inline-block;
  width: 10px;
}

.form .register-form {
  display: none;
}

/**** Protocol Form ****/

#new-protocol {
  .form-group {
    margin-bottom: 0;
  }
}
