<table class="table">
  <tr>
    <th>Protocol</th>
    <th>Delete</th>
    <th>Edit</th>
  </tr>
 
  <% @protocols.each do |protocol| %>
    <tr>
      <td><%= protocol.name %></td>
      <td><%= link_to('Delete', protocol_path(protocol), :method => :delete, remote: false) %></td>
      <td><%= link_to('Edit', edit_protocol_path(protocol), :method => :get, remote: false) %></td>
    </tr>
  <% end %>
</table>