<% if @errors %> 
  <div class="alert alert-danger" role="alert">
    <ul>
      <% @errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% elsif alert || notice %>
  <div class="alert alert-danger" role="alert">
    <ul>
      <% if alert %>
        <li><%= alert %></li>
      <% end %>
      <% if notice %>
        <li><%= alert %></li>
      <% end %>
    </ul>
  </div>
<% end %>