<!DOCTYPE html>
<html>
  <head>
    <title>Meter Tests</title>
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag    "application" %>
      <%= javascript_include_tag "application" %>
  </head>

  <body>
    <div class="login-page">
      <div class="form">
        <%= yield %>
      </div>
    </div>
  </body>
</html>